
header {
  height: 50vh;
}

.container {
  
    clip: rect(0, auto, auto, 0);
    overflow: hidden;
    display: flex;
    justify-content: center;
    height: 50vh;
    left: 0;
    width: 100%;
    -webkit-mask-image: -webkit-linear-gradient(top, #ffffff 0%,#ffffff 100%);
}

.container_solid {
  background: white;
  top: 0;
}

.title_wrapper {
  position: fixed;
  display: block;  
  margin: auto;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.title_wrapper h1 {
  text-align: center;
  font-size: 64px;
  text-align: center;
  font-family: 'Script MT';
  font-weight: 900;
}

.container_solid .title_wrapper h1 {
  /* the text background */
  background: url("../../../assets/acapulco-3605307_1920.jpg");
  background-repeat: no-repeat;
  background-position: center;
  
  /* clip the text is possible */
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  
  /* fallback text color */
  color: black;
}

.container_image {
  /* Grab a free image from unsplash */
  background-image: url("../../../assets/acapulco-3605307_1920.jpg");  background-size:cover;
  background-position: center;
  background-attachment: fixed;
  
  /* position the second container below the first container */
  top: 100vh;
}

.container_image .title_wrapper h1 {
  color: white;
}