<app-carousel class="car"></app-carousel>

<body class="container pos d-flex justify-content-center pb-5">
    <div class="wrapper fadeInDown col-lg-8">
      <div id="formContent">
        <div class="fadeIn first">
          <img src="../../../assets/46135.jpg" id="icon" alt="User Icon" />
          <h1>Crea tu cuenta</h1>
        </div>
    
        <form>
            <div class="col-lg-12 row justify-content-center m-0 p-0">
                <input type="text" id="login" class="fadeIn second col-lg-5" name="login" placeholder="name">
                <input type="text" id="login" class="fadeIn second col-lg-5" name="login" placeholder="lastName">
            </div>
          <input type="text" id="login" class="fadeIn second" name="login" placeholder="phone">
          <input type="text" id="login" class="fadeIn second" name="login" placeholder="userName">
          <input type="text" id="login" class="fadeIn second" name="login" placeholder="email">
          <input type="text" id="password" class="fadeIn third" name="login" placeholder="password">
          <input type="submit" class="fadeIn fourth" value="Registrarme">
        </form>
    
        <div id="formFooter">
          <span class=" azul" >Se parte de nuestra gran Familia</span>
        </div>
    
      </div>
    </div>
  </body>