<!-- Footer -->
<footer class="page-footer font-small teal pt-4">

    <!-- Footer Text -->
    <div class="container">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">

          <!-- Content -->
          <h5 class="text-uppercase font-weight-bold">Powered by hotelChapín</h5>
          <p></p>
          <h5 class="text-uppercase font-weight-bold">Todos los derechos Reservados</h5>
          <p></p>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none pb-3">

        <!-- Grid column -->
        <div class="col-md-6 mb-md-0 mb-3">

          <!-- Content -->
          <div class="center">

            <div class="card">
                <div class="additional">
                    <div class="header header-raised header-primary text-center">
                        <h4 class="card-title">Contactanos</h4>
                    </div>
                <div class="text-container">
                  <div class="text-box">
                    <form action="/my-handling-form-page" method="post">
                        <ul>
                            <li>
                              <label for="name">Nombre:</label>
                              <input type="text" id="name" name="user_name" />
                            </li>
                            <li>
                                <label for="email">Correo Electronico:</label>
                                <input type="text" id="email" name="user-email">
                            </li>
                            <li>
                                <label for="message">Escribe tu Mensaje</label>
                                <textarea id="msg" name="user_message"></textarea>
                            </li>
                            <li class="button">
                                <button type="submit">Submit</button>
                              </li>
                        </ul>
                    </form>
                </div>
                  </div>
                        
                    </div>
                    <div class="more-info">
              <!-- TODO: Aquí adicionaremos nuestro formulario -->
                    </div>
                </div>
                <div class="general more-info">
            <!-- TODO: Aquí adicionaremos el resultado de los datos que ingresemos al formulario -->
                </div>
            </div>
        </div>

        </div>
        <!-- Grid column -->

      <!-- Grid row -->

    </div>
    <!-- Footer Text -->

    <!-- Copyright -->
    <!-- Copyright -->

  </footer>
  <!-- Footer -->