
    <h1 class="nombreHotel">Mi Cuenta</h1>
    <div class="wrapper fadeInDown col-lg-8">
      <div id="formContent">
        <div class="fadeIn first">
          <img src="../../../../assets/46135.jpg" id="icon" alt="User Icon" />
          <h1>Edita tu cuenta</h1>
        </div>
    
        <form>
            <div class="col-lg-12 row justify-content-center m-0 p-0">
                <input type="text" id="login" class="fadeIn col-lg-5 second " name="login" placeholder="name">
                <input type="text" id="login" class="fadeIn col-lg-5 second " name="login" placeholder="lastName">
            </div>
          <input type="text" id="login" class="fadeIn second w-85" name="login" placeholder="phone">
          <input type="text" id="login" class="fadeIn second w-85" name="login" placeholder="userName">
          <input type="text" id="login" class="fadeIn second w-85" name="login" placeholder="email">
          <input type="submit" class="fadeIn fourth" value="Editar Cuenta">
        </form>
    
        <div id="formFooter">
          <span class=" azul" >Gracias por formar parte de nuestra Familia</span>
        </div>
    
      </div>
    </div>