* {
   box-sizing: border-box; 
   margin: 00PX;
   padding: 00PX;
}

h1{
    color: black;
}

a {
    color: white;
}

.menu .NombreTitulo {
    color: red;
    text-decoration: none;
}

.menu {
    width: 90%;
    margin: auto;
}

/*Cambiando los estilos de la navegación*/
.nav-main .NombreTitulo{
    font-size: 35px;
}

.nav-main {
    font-family: Berlin Sans FB;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
}

.nav-main li  {
    display: flex;
}

.nav-main li a {
    padding: 10px;
}

.nav-item{
    margin-top: 0.75%;
}

