<div [@fadeIn] id="formContent" style="align-items: center; justify-content: center;margin: auto;" class="col-lg-9 row mb-4">
    <div class="col-lg-6">
        <img width="300" class="img-fluid" src="../../../assets/servicio1.jpeg">
    </div>
    <div class="col-lg-6 ">
        <h2 class="mt-4">Restaurante</h2>
        <p class="Disponible">Comida para subir a la habitación</p>
        <p class="text-muted text-left">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat, 
            voluptates dolorem! Praesentium ad commodi harum amet dolores explicabo temporibus magni,</p>

            <h2 class="mt-4">¡Ven Con Nosotros!</h2>
    </div>
</div>
<div id="formContent" style="align-items: center; justify-content: center;margin: auto;" class="col-lg-9 row mb-4">
    <div class="col-lg-6">
        <img width="300" class="img-fluid" src="../../../assets/servicio1.jpeg">
    </div>
    <div class="col-lg-6 ">
        <h2 class="mt-4">Restaurante</h2>
        <p class="Disponible">Comida para subir a la habitación</p>
        <p class="text-muted text-left">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat, 
            voluptates dolorem! Praesentium ad commodi harum amet dolores explicabo temporibus magni,</p>

            <h2 class="mt-4">¡Ven Con Nosotros!</h2>
    </div>
</div>