<div [@fadeIn] id="formContent" style="align-items: center; justify-content: center;margin: auto;" class="col-lg-9 row mb-4">
    <div class="col-lg-6">
        <img width="400" class="img-fluid" src="../../../assets/acapulco-3605307_1920.jpg">
    </div>
    <div class="col-lg-6 ">
        <h2 class="mt-4">Habitación Premium</h2>
        <p class="Disponible">Habitaciones Disponibles</p>
        <p class="text-muted text-left">Cantidad de Personas: 5</p>
        <p class="text-muted text-left">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat, 
            voluptates dolorem! Praesentium ad commodi harum amet dolores explicabo temporibus magni,</p>
        <p class="text-muted text-left">Fecha de emisión: 21/04/21</p>
        <p class="Disponible">Total de Factura: 1500.00</p>
        <button type="button" class="btn  buttonClass" data-toggle="modal" data-target="#exampleModalCenter">
            ver Factura
          </button>
    </div>
</div>
<div id="formContent" style="align-items: center; justify-content: center;margin: auto;" class="col-lg-9 row">
    <div class="col-lg-6">
        <img width="400" class="img-fluid" src="../../../assets/acapulco-3605307_1920.jpg">
    </div>
    <div class="col-lg-6 ">
        <h2 class="mt-4">Habitación Premium</h2>
        <p class="Disponible">Habitaciones Disponibles</p>
        <p class="text-muted text-left">Cantidad de Personas: 5</p>
        <p class="text-muted text-left">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat, 
            voluptates dolorem! Praesentium ad commodi harum amet dolores explicabo temporibus magni,</p>
        <p class="text-muted text-left">Fecha de emisión: 21/04/21</p>
        <p class="Disponible">Total de Factura: 1500.00</p>
        <button type="button" class="btn  buttonClass" data-toggle="modal" data-target="#exampleModalCenter">
            ver Factura
          </button>
    </div>
</div>

<!-- Modal -->

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Factura nombre Hotel</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <p class="text-muted text-left">Esperamos que tu visita haya sido de tu agrado</p>
            <br>
            <div class="row">
                <div class="col-lg-8">
                    <span>Servicio</span>
                </div>
                <div class="col-lg-3">
                    <span >Total Parcial</span>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-lg-8">
                    <span>Hospedaje</span>
                </div>
                <div class="col-lg-3">
                    <span >2500.00</span>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div style="text-align: right;" class="col-lg-8">
                    <span>Total</span>
                </div>
                <div class="col-lg-3">
                    <span >2500.00</span>
                </div>
            </div>
            <div class="mt-3 row">
                <div class="col-lg-6">
                    <span class="text-muted" >Fecha de llegada:</span>
                </div>
                <div class="col-lg-6">
                    <span class="text-muted">Fecha de salida:</span>
                </div>
            </div>
            <div class="text-center mt-4">
                <p>estado de pago</p>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>