
<app-carousel class="car"></app-carousel>
<body class="container pos" style="padding-top: 15px;">
    <div class="w-100" >

        <h1 class="tituloHome">Tu mejor opción en Hoteles de toda Guatemala</h1>
    
    </div>
        <div class="w-100">
            <div class="wrapper fadeInDown">
               
            </div>
        </div>
        <div class="mt-4 text-center color">
            <h2>El Hotel más solicitado</h2>
        </div>
        <div class="wrapper" >
            <div id="formContent"  class="col-lg-9 row justify-content-center pt-2">
                <div class="col-lg-6 row" style="align-items:center;">
                    <img width="300" class="img-fluid" src="{{uri+'getImage/'+best.images[0].image}}">
                </div>
                <div class="col-lg-6">
                    <h2 class="mt-4">{{best.name}}</h2>
                    <p class="Disponible" *ngIf="best.rooms.length">Habitaciones Disponibles</p>
                    <p class="noDisponible" *ngIf="!best.rooms.length">Habitaciones No Disponibles</p>
                    <p class="text-muted text-left" *ngIf="best.rooms.length">Precios de: {{best.rooms[0].priceRoom}}</p>
                    <p class="text-muted text-left">{{best.description}}</p>
                    <p class="text-muted text-left">{{best.descAddress}}</p>
                    <input type="submit"  routerLink="HotelInicio/{{best._id}}" class="fadeIn fourth" value="Ver más">
                </div>
            </div>
        </div> 
        <br>
        <app-img-footer></app-img-footer>
        <div class="mt-4 text-center color">
            <h2>Los más Recomendados</h2>
        </div>
        <div class="wrapper">
            <div id="formContent" *ngFor="let optionHotel of hotels" style="align-items: center; justify-content: center;margin: auto;" class="col-lg-9 row justify-content-center pt-2 mb-2">
                <div class="col-lg-6">
                    <img width="300" class="img-fluid" src="{{uri+'getImage/'+optionHotel.images[0].image}}">
                </div>
                <div class="col-lg-6">
                    <h2 class="mt-4">{{optionHotel.name}}</h2>
                    <p class="Disponible" *ngIf="optionHotel.rooms.length">Habitaciones Disponibles</p>
                    <p class="noDisponible" *ngIf="!optionHotel.rooms.length">Habitaciones No Disponibles</p>
                    <p class="text-muted text-left" *ngIf="optionHotel.rooms.length">Precios de: {{optionHotel.rooms[0].priceRoom}}</p>
                    <p class="text-muted text-left">{{optionHotel.description}}</p>
                    <p class="text-muted text-left">{{optionHotel.descAddress}}</p>
                    <input type="submit" routerLink="HotelInicio/{{optionHotel._id}}" class="fadeIn fourth" value="Ver más">
                </div>
            </div>
        </div>
        
        <div class="col-lg-9 justify-content-center m-auto" style="margin-top:8px !important;">
            <a class="verMas">Ver más </a><i style="color: #C62828 !important;" class="fas fa-arrow-right ml-2"></i>
        </div>
        <br>
        
        
</body>
<notifier-container></notifier-container>