
<app-carousel class="car"></app-carousel>
<body class="container pos" style="padding-top: 15px;">
    <div class="w-100" >

        <h1 class="tituloHome">Tu mejor opción en Hoteles de toda Guatemala</h1>
    
    </div>
        <div class="w-100">
            <div class="wrapper fadeInDown">
                <div id="formContent" class="col-lg-9 ">
                <h2 class="titulo2">Busca tu mejor opción</h2>
                <form>
                    <input type="text" id="login" class="fadeIn second" name="login" placeholder="Destino">
                    <div class="d-flex" style="width: 85%; margin: auto;">
                        <input type="text" id="password" class="fadeIn third" name="login" placeholder="Fecha de llegada">
                        <input type="text" id="password" class="fadeIn third" name="login" placeholder="Fecha de Salida">
                    </div>
                    <div class="d-flex" style="width: 85%; margin: auto;">
                        <input type="text" id="password" class="fadeIn third" name="login" placeholder="No. Personas">
                        <input type="text" id="password" class="fadeIn third" name="login" placeholder="Presupuesto">
                    </div>
                    
                    <input type="submit" class="fadeIn fourth" value="Buscar">
                </form>
                </div>
            </div>
        </div>
        <div class="mt-4 text-center color">
            <h2>Los más Recomendados</h2>
        </div>
        <div class="wrapper">
            <div id="formContent"  class="col-lg-9 row justify-content-center pt-2">
                <div class="col-lg-6 row" style="align-items:center;">
                    <img width="300" class="img-fluid" src="../../../assets/acapulco-3605307_1920.jpg">
                </div>
                <div class="col-lg-6">
                    <h2 class="mt-4">Hotel Barceló</h2>
                    <p class="Disponible">Habitaciones Disponibles</p>
                    <p class="text-muted text-left">Habitaciones desde Q2000.00</p>
                    <p class="text-muted text-left">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat, 
                        voluptates dolorem! Praesentium ad commodi harum amet dolores explicabo temporibus magni,</p>
                    <input type="submit" class="fadeIn fourth" value="Ver más">
                </div>
            </div>
        </div>
        <div class="col-lg-9 justify-content-center m-auto" style="margin-top:8px !important;">
            <a class="verMas">Ver más </a><i style="color: #C62828 !important;" class="fas fa-arrow-right ml-2"></i>
        </div>
        <br>
        <app-img-footer></app-img-footer>
        <div class="mt-4 text-center color">
            <h2>Super Ofertas</h2>
        </div>
        <div class="wrapper">
            <div id="formContent" style="align-items: center; justify-content: center;margin: auto;" class="col-lg-9 row justify-content-center pt-2">
                <div class="col-lg-6">
                    <img width="300" class="img-fluid" src="../../../assets/acapulco-3605307_1920.jpg">
                </div>
                <div class="col-lg-6">
                    <h2 class="mt-4">Hotel Barceló</h2>
                    <p class="Disponible">Habitaciones Disponibles</p>
                    <p class="text-muted text-left">Habitaciones desde Q2000.00</p>
                    <p class="text-muted text-left">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat, 
                        voluptates dolorem! Praesentium ad commodi harum amet dolores explicabo temporibus magni,</p>
                    <input type="submit" class="fadeIn fourth" value="Ver más">
                </div>
            </div>
        </div>
        
        <div class="col-lg-9 justify-content-center m-auto" style="margin-top:8px !important;">
            <a class="verMas">Ver más </a><i style="color: #C62828 !important;" class="fas fa-arrow-right ml-2"></i>
        </div>
        <br>
        
        
</body>
<notifier-container></notifier-container>