<div class="container row m-0 p-0">
    <div class="col-lg-3 color">
        <nav class="navbar navbar-expand-lg  w-100">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="col-lg-12">
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav d-block">
                        <li class="nav-item">
                            <a class="nav-link" (click)="status(1)">Hoteles Registrados</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" (click)="status(2)">Agregar Hotel</a>
                        </li>
                    </ul>
                    
                </div>
                
            </div>
            
        </nav>
    </div>
    <div class="col-lg-9 mt-4 mb-4" *ngIf="sidebarStatus==1">
        <div id="formContent" style="align-items: center; justify-content: center;margin: auto;" class="col-lg-11 row">
            <div class="col-lg-6">
                <img width="300" class="img-fluid" src="../../../assets/acapulco-3605307_1920.jpg">
            </div>
            <div class="col-lg-6">
                <h2 class="mt-4">Hotel Barceló</h2>
                <p class="Disponible">Habitaciones Disponibles</p>
                <p class="text-muted text-left">Habitaciones desde Q2000.00</p>
                <p class="text-muted text-left">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat, 
                    voluptates dolorem! Praesentium ad commodi harum amet dolores explicabo temporibus magni,</p>
                <div class="text-left mb-2">    
                    <div class="d-flex mb-1">    
                        <button  data-toggle="modal" data-target="#editModal" class="fadeIn btn btn-warning mr-1" >Editar</button>
                        <button  data-toggle="modal" data-target="#agregarModal"  class="fadeIn btn btn-primary" >Agregar Habitación</button>
                    </div>
                    <button  data-toggle="modal" data-target="#eliminarModal"  class="fadeIn btn btn-danger" >Eliminar Hotel</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-9 mt-4 mb-4" *ngIf="sidebarStatus==2">
        <form class="row justify-content-center mr-3 ml-3">
            <div class="col-lg-12 row justify-content-center m-0 p-0">
                <input type="text" id="login" class="fadeIn second col-lg-5" name="login" placeholder="Nombre del Hotel">
                <input type="text" id="login" class="fadeIn second col-lg-5" name="login" placeholder="Telefono del Hotel">
            </div>
          <input type="text" id="login" class="fadeIn second" name="login" placeholder="Email">
          <select class="fadeIn second" >
              <option>Administrador del Hotel</option>
              <option>Datos</option>
              <option>Datos</option>
          </select>
          <textarea class="fadeIn second"  placeholder="Dirección del Hotel"></textarea>
          <input type="file"  class="fadeIn third" name="login" placeholder="password"><br>
          <input type="submit" class="fadeIn fourth btn" value="Registrar Hotel">
        </form>
    </div>
</div>

<!--  modal para editar -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="EditLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="EditLabel">Editar Hotel</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form class="row justify-content-center mr-3 ml-3">
                
                <input type="text" id="login" class="fadeIn second " name="login" placeholder="Nombre del Hotel">
                <input type="text" id="login" class="fadeIn second " name="login" placeholder="Telefono del Hotel">
                
              <input type="text" id="login" class="fadeIn second" name="login" placeholder="Email">
              <select class="fadeIn second" >
                  <option>Administrador del Hotel</option>
                  <option>Datos</option>
                  <option>Datos</option>
              </select>
              <textarea class="fadeIn second"  placeholder="Dirección del Hotel"></textarea>
              <input type="file"  class="fadeIn third" name="login" placeholder="password"><br>
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" style="color: white;" class="btn btn-warning">Editar Hotel</button>
        </div>
      </div>
    </div>
</div>

<!--  modal para Agregar habitación -->
<div class="modal fade" id="agregarModal" tabindex="-1" role="dialog" aria-labelledby="AgregarLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="AgregarLabel">Agregar Habitación</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form class="row justify-content-center mr-3 ml-3">
                
                <input type="text" id="login" class="fadeIn second " name="login" placeholder="Nombre de la habitación">
                <input type="text" id="login" class="fadeIn second " name="login" placeholder="Precio de la habitación">
              <textarea class="fadeIn second"  placeholder="Breve descripción de la habitación"></textarea>
              <input type="file"  class="fadeIn third" name="login" placeholder="password"><br>
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Agregar Habitación</button>
        </div>
      </div>
    </div>
</div>

<!--  modal para eliminar -->
<div class="modal fade" id="eliminarModal" tabindex="-1" role="dialog" aria-labelledby="EliminarLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="EliminarLabel">Eliminar Hotel</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <span class="text-danger">¿Está seguro que desea eliminar este hotel?</span>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-danger">Eliminar Hotel</button>
        </div>
      </div>
    </div>
</div>