<app-carousel class="car"></app-carousel>
<body class="container pos pb-5 pt-5">
  <div class="wrapper fadeInDown mb-5 mt-3">
    <div id="formContent">
      <div class="fadeIn first mt-2">
        <img src="../../../assets/46135.jpg" id="icon" alt="User Icon" />
        <h1>Inicio Sesión</h1>
      </div>
  
      <form #login="ngForm" (ngSubmit)="onSubmit()">
        <input type="text" #username="ngModel" [(ngModel)]="user.username" required id="username" class="fadeIn second" name="username" placeholder="username">
        <br><span *ngIf="!username.valid && username.touched">Campo Obligatorio</span>
        <input type="password" #password="ngModel" [(ngModel)]="user.password" required id="password" class="fadeIn third" name="password" placeholder="password">
        <br><span *ngIf="!password.valid && password.touched">Campo Obligatorio</span><br>
        <input type="submit" href="" class="fadeIn fourth" value="Log In">
        <a class="underlineHover w-100 pb-2  pr-4 ml-1" style="text-align: right; color: #C62828;" href="#">¿Olvidaste tu contraseña?</a>
      </form>
  
      <div id="formFooter">
        <a class="underlineHover" routerLink="../register">¿No tienes una cuenta?</a>
      </div>
  
    </div>
  </div>
</body>
<notifier-container></notifier-container>