
<app-carousel class="car"></app-carousel>

<body class="container pb-5 pos">
    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" (click)="changeNav(1)">Reservaciones <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" (click)="changeNav(2)">Mi Cuenta</a>
            </li>
          </ul>
        </div>
    </nav>
    <span class="slogan">Tu mejor opción en Hoteles de toda Guatemala</span>
    <br>
    <app-editar-cuenta *ngIf="navStatus==2"></app-editar-cuenta>
    <body>
      <app-reservaciones *ngIf="navStatus==1"></app-reservaciones>
    </body>
    
</body>
