<div class="wrapper">
    <div [@fadeIn] id="formContent" style="align-items: center; justify-content: center;margin: auto;" class="col-lg-9 row mb-4">
        <div class="col-lg-6 mt-2">
            <img width="400" class="img-fluid" src="../../../assets/acapulco-3605307_1920.jpg">
        </div>
        <div class="col-lg-6 ">
            <h2 class="mt-4">Habitación Premium</h2>
            <p class="Disponible">Habitaciones Disponibles</p>
            <p class="text-muted text-left">Habitaciones desde Q2000.00</p>
            <p class="text-muted text-left">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat, 
                voluptates dolorem! Praesentium ad commodi harum amet dolores explicabo temporibus magni,</p>
            <button  routerLink="../reservacion" class="fadeIn fourth mb-2">Reservar</button>
        </div>
    </div>
</div>
<div class="wrapper">
    <div id="formContent" style="align-items: center; justify-content: center;margin: auto;" class="col-lg-9 row">
        <div class="col-lg-6 mt-2">
            <img width="400" class="img-fluid" src="../../../assets/acapulco-3605307_1920.jpg">
        </div>
        <div class="col-lg-6 ">
            <h2 class="mt-4">Habitación Premium</h2>
            <p class="Disponible">Habitaciones Disponibles</p>
            <p class="text-muted text-left">Habitaciones desde Q2000.00</p>
            <p class="text-muted text-left">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat, 
                voluptates dolorem! Praesentium ad commodi harum amet dolores explicabo temporibus magni,</p>
            <button  routerLink="../reservacion" class="fadeIn fourth mb-2"> Reservar</button>
        </div>
    </div>
</div>
